/* =Layout
-----------------------------------------------------------------------------*/
.wrapper {
  margin: auto;
  max-width: 980px;
  padding: 36px 10px;
}
#main aside {
  background-color: #f6f6f6;
}
#blocks li {
  background-color: #f8f8f8;
  padding: 3.3em 0;
  text-align: center;
}
#frmCandidates .units-row .unit-20 {
  margin-left: 0;
}

/* =Header
-----------------------------------------------------------------------------*/
#header {
  overflow: hidden;
  margin-bottom: 1.5em;
  border-bottom: 1px solid #eee;
}
#header h1 {
  float: left;
  margin: 0;
}
#header nav {
  padding-top: 10px;
  float: right;
}

/* =Footer
-----------------------------------------------------------------------------*/
#footer {
  border-top: 1px solid #eee;
  padding-top: 1.5em;
  margin: 1.5em 0;
  font-size: .85em;
}
